<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techind.flutter_sharing_intent">

<!--    <application>-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:launchMode="singleTask">-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing text into your app&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="text/*" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing images into your app&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="image/*" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing multi images into your app&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="image/*" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing videos into your app&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="video/*" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing multi videos into your app&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="video/*" />-->
<!--            </intent-filter>-->


<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing any type of files&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="*/*" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash;TODO: Add this filter, if you want to support sharing multiple files of any type&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="*/*" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
<!--    </application>-->

</manifest>